<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797794385996-hd57057g93nt2nmltpudbabl8ed8gteg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797794385996-hd57057g93nt2nmltpudbabl8ed8gteg</string>
	<key>API_KEY</key>
	<string>AIzaSyDqEi7jKBGXg1llzgx6Lv9mw3KMGS-5RFU</string>
	<key>GCM_SENDER_ID</key>
	<string>797794385996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wathiq</string>
	<key>PROJECT_ID</key>
	<string>wathiq-ac6e2</string>
	<key>STORAGE_BUCKET</key>
	<string>wathiq-ac6e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797794385996:ios:1f113f22a9acb04aabb4e9</string>
</dict>
</plist>